<div class="user-show">
  <div id="user-info">
    <div class="panel radius medium-3">
      <h2><%= @user.user_tag %></h2>
      <p>Email: <%= @user.email %></p>
    </div>
  </div>
  <div id="edit-profile">
    <p><%= link_to "Edit profile", edit_user_registration_path(@user), class: "button tiny" %></p>
  </div>
  <h2>Your decks: </h2>
  <div id="user-decks">
      <% @decks.each do |deck| %>
        <p>
          <%= link_to "#{deck.name}", deck_path(deck) %>
          <p class="panel radius">Description: <%= deck.description %></p>
        </p>
      <% end %>
  </div>
</div>
