<%= search_form_for @search, remote: true do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont %>
    <%= f.label :cmc_gteq, "CMC between" %>
    <%= f.text_field :cmc_gteq %>
    <%= f.label :cmc_lteq, "and" %>
    <%= f.text_field :cmc_lteq %>
    <%= f.label :types_cont, "Type" %>
    <%= f.text_field :types_cont %>
    <%= f.label :subtypes_cont, "Subtype" %>
    <%= f.text_field :subtypes_cont %>
    <%= f.label :power_eq, "Power" %>
    <%= f.text_field :power_eq %>
    <%= f.label :toughness_eq, "Toughness" %>
    <%= f.text_field :toughness_eq %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<div id="paginator"><%= paginate @cards, remote: true %></div>
<table id="cards_table">
  <tr class="sort">
    <th><%= sort_link @search, :name, "Name" %></th>
    <th><%= sort_link @search, :cmc, "ManaCost" %></th>
    <th>Type - Subtype</th>
    <th>Rarity</th>
    <th>Text</th>
    <th>Power/Toughness</th>
    <th>Sets Printed</th>
  </tr>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.name %></td>
      <td><%= card.mana_cost %></td>
      <td><%= card.type_and_subtype %></td>
      <td><%= card.rarity %></td>
      <td><%= card.text %></td>
      <td><%= card.power_and_toughness %></td>
      <td><%= card.sets_printed %></td>
    </tr>
  <% end %>
</table>
<div id="paginator"><%= paginate @cards, remote: true %></div>
