<!-- # <%= search_form_for @search, remote: true do |f| %>
#   <div class="field">
#     <%= f.label :name_cont, "Name" %>
#     <%= f.text_field :name_cont %>
#     <%= f.label :cmc_gteq, "CMC between" %>
#     <%= f.text_field :cmc_gteq %>
#     <%= f.label :cmc_lteq, "and" %>
#     <%= f.text_field :cmc_lteq %>
#     <%= f.label :types_cont, "Type" %>
#     <%= f.text_field :types_cont %>
#     <%= f.label :subtypes_cont, "Subtype" %>
#     <%= f.text_field :subtypes_cont %>
#     <%= f.label :power_eq, "Power" %>
#     <%= f.text_field :power_eq %>
#     <%= f.label :toughness_eq, "Toughness" %>
#     <%= f.text_field :toughness_eq %>
#   </div>
#   <div class="actions"><%= f.submit "Search" %></div>
# <% end %> -->
