<div class="card-show row">
  <div id="card-img-box" class="medium-3 columns">
    <img src="<%= @card.fetch_image %>" alt="@card.name" />
  </div>
  <div id="card-info-panel" class="medium-9 columns custom-panel">
    <h2>Card info: </h2>

    <hr/>
    <p><strong>Name:  </strong><%= @card.name %></p>
    <p><strong>Types: </strong><%= @card.type_and_subtype %></p>
    <p><strong>Text:  </strong><%= @card.text %></p>
    <% if @card.power_and_toughness %>
      <p><strong>Power/Toughness: </strong><%= @card.power_and_toughness %></p>
    <% end %><br>
    <p><strong>Printings: </strong><%= @card.sets_printed %></p><br>
    <p><strong>Legalities: </strong></p>
    <% @card.legalities.each do |mtg_format, legality| %>
      <p><%= "#{mtg_format}: #{legality}" %></p>
    <% end %>
    <br>
    <p>
      <strong>Price: </strong>
      <span><%= "#{@card_price} - #{@card_set}" %></span>
    </p>
    <br>
  </div>
  <div class="back-button">
    <p><%= link_to "Back", cards_path, class: "button tiny" %></p>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <div id="comments_form"><%= render 'comments/form' %></div>
    <div id="comments"><%= render 'comments/comments' %></div>
  </div>
</div>
