<h3><%= "Click on a card to add it to your #{@deck.name} deck" %></h3>

<div id="paginator"><%= paginate @cards_for_deck, remote: true %></div>
<div id="deck-cards-table">
  <table>
    <tr class="sort">
      <th><%= sort_link @card_search_for_library, :name, "Name" %></th>
      <th><%= sort_link @card_search_for_library, :cmc,  "ManaCost" %></th>
      <th>Type - Subtype</th>
      <th>Rarity</th>
      <th>Text</th>
      <th>Power/Toughness</th>
      <th>CardImage</th>
    </tr>
    <% @cards_for_deck.each do |card| %>
      <tr>
        <td>
          <%= link_to card.name, card_multiverseid_path(card.multiverseid) %>
        </td>
        <td><%= card.mana_cost %></td>
        <td><%= card.type_and_subtype %></td>
        <td><%= card.rarity %></td>
        <td><%= card.text %></td>
        <td><%= card.power_and_toughness %></td>
        <td>
          <a href='<%= "#{deck_path(@deck)}?add=#{card.multiverseid}" %>' data-method="patch" rel="nofollow">
            <img src="<%= card.fetch_image %>" alt="<%= card.name %>" />
          </a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div id="paginator"><%= paginate @cards_for_deck, remote: true %></div>
