<div class="row contents">
  <div class="medium-3 columns">
    <ul class="hover-img">
      <strong>Creatures: </strong><%= @creatures.count %>
      <% @creatures.each do |card, quant| %>
        <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
          <%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %><%=": #{quant}" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-3 columns">
    <ul class="hover-img">
      <strong>Lands: </strong><%= @lands.count %>
      <% @lands.each do |card, quant| %>
        <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
          <%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %><%=": #{quant}" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-3 columns">
    <ul class="hover-img">
      <strong>Enchantments: </strong><%= @enchantments.count %>
      <% @enchantments.each do |card, quant| %>
        <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
          <%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %><%=": #{quant}" %>
        </li>
      <% end %>
    </ul>
    <ul class="hover-img">
      <strong>Artifacts: </strong><%= @artifacts.count %>
      <% @artifacts.each do |card, quant| %>
        <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
          <%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %><%=": #{quant}" %>
        </li>
      <% end %>
    </ul>
    <ul class="hover-img">
      <strong>Instants: </strong><%= @instants.count %>
      <% @instants.each do |card, quant| %>
        <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
          <%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %><%=": #{quant}" %>
        </li>
      <% end %>
    </ul>
    <ul class="hover-img">
      <strong>Sorceries: </strong><%= @sorceries.count %>
      <% @sorceries.each do |card, quant| %>
        <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
          <%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %><%=": #{quant}" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-3 columns card-img-container">

  </div>
</div>
