<div class="contents row">
  <div id="card-list">
    <div class="large-3 medium-4 columns">
      <ul class="hover-img">
        <strong>Creatures: </strong><%= Contents.new.quantity(@contents[:creatures]) %>
        <% @contents[:creatures].each do |card, quant| %>
          <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
            <span><%="#{quant} " %></span><%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="large-3 medium-4 columns">
      <ul class="hover-img">
        <strong>Lands: </strong><%= Contents.new.quantity(@contents[:lands]) %>
        <% @contents[:lands].each do |card, quant| %>
          <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
            <span><%="#{quant} " %></span><%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="large-3 medium-4 columns">
      <ul class="hover-img">
        <strong>Enchantments: </strong><%= Contents.new.quantity(@contents[:enchantments]) %>
        <% @contents[:enchantments].each do |card, quant| %>
          <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
            <span><%="#{quant} " %></span><%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %>
          </li>
        <% end %>
      </ul>
      <ul class="hover-img">
        <strong>Artifacts: </strong><%= Contents.new.quantity(@contents[:artifacts]) %>
        <% @contents[:artifacts].each do |card, quant| %>
          <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
            <span><%="#{quant} " %></span><%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %>
          </li>
        <% end %>
      </ul>
      <ul class="hover-img">
        <strong>Instants: </strong><%= Contents.new.quantity(@contents[:instants]) %>
        <% @contents[:instants].each do |card, quant| %>
          <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
            <span><%="#{quant} " %></span><%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %>
          </li>
        <% end %>
      </ul>
      <ul class="hover-img">
        <strong>Sorceries: </strong><%= Contents.new.quantity(@contents[:sorceries]) %>
        <% @contents[:sorceries].each do |card, quant| %>
          <li data-image='http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= "#{card[:multiverseid]}" %>&type=card'>
            <span><%="#{quant} " %></span><%= link_to "#{card[:name]}", card_path(card[:multiverseid]) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="large-3 medium-4 small-6 left columns card-img-container">
    </div>
  </div>

</div>
