<div class="deck-edit-page">
  <h2><%= "#{@deck.name} edit" %></h2>
  <%= form_for @deck do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Save", class: "button tiny" %>
  <% end %>
  <div id="card-search-form">
    <%= form_tag(edit_deck_path, method: "get") do %>
      <%= text_field_tag :card_search, params[:card_search],
                        placeholder: "Search for a card",
                        id: "card_search" %>
      <%= submit_tag "Search", class: "button tiny" %>
    <% end %>
  </div>
  <div id="card-search-results"><%= render 'card_search_results' %></div>
  <div id="deck-library">
    <p>
      <strong>Library: - <%= "#{@deck.library.count} cards" %></strong><br />
      <% if @deck.library.empty? %>
        <p>No cards found.</p>
      <% else %>
        <ul class="small-block-grid-5">
          <% @lib_quantity.each do |card_multiverseid, quantity| %>
            <li>
              <span>Copies: <%= quantity %></span>
              <img src="<%= "http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=#{card_multiverseid}&type=card" %>" alt="<%= "#{card_multiverseid}" %>" />
              <div class="button-bar">
                <ul class="button-group radius even-3">
                  <% if @deck.library.count < 60 && (@basic_lands.any? { |basic| card_multiverseid == basic } || quantity < 4) %>
                    <li>
                      <a href='<%= "#{deck_path(@deck)}?add=#{card_multiverseid}" %>' data-method="patch" rel="nofollow" class="button tiny">
                        +1
                      </a>
                    </li>
                  <% end %>
                  <li>
                    <a href='<%= "#{deck_path(@deck)}?delete=#{card_multiverseid}" %>' data-method="patch" rel="nofollow" class="button tiny">
                      -1
                    </a>
                  </li>
                  <li>
                    <a href='<%= "#{deck_path(@deck)}?remove_all=#{card_multiverseid}" %>' data-method="patch" rel="nofollow" class="button tiny">
                      Remove
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </p>
  </div>
  <p><%= link_to "Done", @deck, class: "button tiny" %></p>
</div>
