<div class="header">
  <h2>Decks</h2>
</div>
<div class="deck-index">
  <% if current_user %>
    <%= link_to "Create a deck", new_deck_path, class: "button tiny" %>
  <% else %>
    <%= link_to "Sign in to create a deck!", new_user_session_path %>
  <% end %>
  <div id="deck-search-form">
    <%= render 'deck_search_form' %>
  </div>
  <div class="deck-listings">
    <% if @deck_search_results %>
      <%= render 'deck_search_results' %>
    <% else %>
      <%= render 'decks' %>
    <% end %>
  </div>
</div>
