<div class="deck-new">
  <h1>New Deck</h1>
  <% if @deck.errors.any? %>
    <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <hr>
  <% end %>
  <%= form_for @deck do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :mtg_format, "Format" %><br />
    <%= f.select :mtg_format, SearchFields.new().legal_formats,
        {include_blank: true} %>
    <%= f.label :description %>
    <%= f.text_area :description %>

    <p><%= f.submit class: "button" %></p>
  <% end %>
</div>
