<div>
  <h1>New Deck</h1>
  <%= form_for @deck do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :mtg_format, "Format" %>
    <%= f.select :mtg_format, SearchFields.new().legal_formats, {include_blank: true} %>
    <%= f.label :library %>
    <%= f.text_area :library, default: :json %>

    <%= f.submit "Create Deck" %>
  <% end %>
</div>
