<nav class="top-bar hide-for-medium-down" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "MTGdb-unofficial", root_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if current_user %>
        <li><%= link_to "Shopping Cart", current_cart if current_cart%></li>
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
    <ul class="left">
      <li><%= link_to "Cards Search", root_path %></li>
      <li class="has-dropdown">
        <%= link_to "Decks", decks_path %>
        <ul class="dropdown">
          <li><%= link_to "New Deck", new_deck_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <div class="hide-for-large-up">

      <nav class="tab-bar">
        <section class="left-large">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">MTGdb-unofficial</h1>
        </section>

        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Navigation</label></li>
          <li><%= link_to "Cards Search", root_path %></li>
          <li class="has-submenu">
            <a href="#">Decks</a>
            <ul class="left-submenu">
              <li class="back"><a href="#">Back</a></li>
              <li><%= link_to "New Deck", new_deck_path %></li>
              <li><%= link_to "All Decks", decks_path %></li>
            </ul>
          </li>
        </ul>
      </aside>

      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Accounts</label></li>
          <% if current_user %>
            <li><%= link_to "Shopping Cart", current_cart if current_cart%></li>
            <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </aside>
    </div>
    <section class="main-section">
      <% flash.each do |name, msg| %>
        <div class="alert-box <%= name %>">
          <%= msg %>
        </div>
      <% end %>

      <div class="layout show">

        <%= yield %>

      </div>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>
